<!doctype html>
<HTML lang="en">
    <head>
        <meta charset="utf-8">
        <title>User Interface</title>
    </head>
   
    <body>
     <div class="searchContainer">
           <div class="header">
             <h2 class="title"> Search </h2>
            <input [formControl]="searchControl" min="1"  type="number" class="search">
            </div>

        <div *ngIf="searchedUser$ | async as user;" class="searched-user"> <!--Get user by id-->
            <div class ="card-image">
                <div class ="searchCard">

                    <div class ="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                           <img src="{{user.avatar}}" alt="" class="card-img">
                        </div>
                    </div>
    
                    <div class ="card-content">
                        <span class="name">{{user.first_name}} {{user.last_name}}</span>
                        <p class="text">{{user.email}}</p>
                        <button class="btn" (click)="viewMore(user.id)">View More</button>
                     </div>
    
                    
                    </div>
            </div>
        </div>

    </div>
<!---------------------------------------------------------------------------------------------------------------->
        <div class="row">
         <div *ngIf="users$ | async as userRequest;else loading" class="container">
            <div  class="col" *ngFor="let user of userRequest.data">
              <div class ="card">
                <div class ="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                    <img src="{{user.avatar}}" alt="" class="card-img">
                </div>
                </div>

                <div class ="card-content">
                    <span class="text">ID: {{user.id}}</span>
                    <span class="name">{{user.first_name}} {{user.last_name}}</span>
                    <p class="text">{{user.email}}</p>  
                    <button class="btn" (click)="viewMore(user.id)">View More</button>   
                 </div>
                </div>
        </div>

        </div>
        <div class="nbbtn"><button (click)="onNext()"><=</button>
            <div class="current-page">{{page$ | async}}</div>
            <button (click)="onPrev()">=></button>
            </div>
        </div>



<ng-template #loading>
   <mat-spinner></mat-spinner>
</ng-template>
</body>

</HTML>